* {
    --background-color: #010717;
    --text-color: #fff;

    --main-nav-background-color: #fff;
    --main-nav-link-color: #0d5491;

    --main-nav-link-hover-background-color: #554614;
    --main-nav-link-hover-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.img-fluid {
    width: 100%;
    height: auto;
}

main-navbar {
    width: 100%;
}

main-navbar::part(main) {
    background-color: var(--main-nav-background-color);
    padding: 0 12px;
}

nav-brand img {
    max-width: 120px;
    height: auto;
}

main-navbar nav-menu {
    --nav-menu-items-gap: 0;
}

main-navbar nav-button::part(link) {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    line-height: 0;
    
    --nav-link-color: var(--main-nav-link-color);
    --nav-link-hover-color: var(--main-nav-link-hover-color);
    --nav-link-hover-background-color: var(--main-nav-link-hover-background-color);

    --nav-link-icon-width: 32px;
    --nav-link-icon-height: 32px;
}

/* .sprite.nav {
    width: 32px;
    height: auto;
    display: block;
} */

.main-container {
    width: 100%;
    text-align: center;
    padding: 0 0;
    margin: 0 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 48px;
}

.coming-soon {
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
}

.sns {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sns a {
    flex: 1;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    box-sizing: border-box; /* 讓 padding 包含在高度內 */
    height: 100%; /* 填滿父元素高度 */
    display: flex; /* 讓文字可以垂直置中 */
    align-items: center;
    justify-content: center;
    font-weight: 400;
    transition: 0.25s;
}

.sns a.x-twitter {
    background-color: #1DA1F2;
    color: #fff;
}

.sns a.facebook {
    background-color: #0165E1;
    color: #fff;
}

.sns a.instagram {
    background-color: #E1306C;
    color: #fff;
}

.sns a:hover {
    font-weight: 900;
}

footer {
    text-align: center;
}