body {
    background-color: #010717;
    color: #fff;
}

.main-container {
    width: 100%;
    text-align: center;
    padding: 0 0;
    margin: 0 0;
}

.main-poster {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.sns {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sns a {
    flex: 1;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    box-sizing: border-box; /* 讓 padding 包含在高度內 */
    height: 100%; /* 填滿父元素高度 */
    display: flex; /* 讓文字可以垂直置中 */
    align-items: center;
    justify-content: center;
    font-weight: 400;
    transition: 0.25s;
}

.sns a.x-twitter {
    background-color: #1DA1F2;
    color: #fff;
}

.sns a.facebook {
    background-color: #0165E1;
}

.sns a.instagram {
    background-color: #E1306C;
    color: #fff;
}

.sns a:hover {
    font-weight: 900;
}

footer {
    text-align: center;
}